
#page-home{
    height: 100vh;
    background: url("../img/home-background.svg") no-repeat;/*buscando a img.svg(se ajusta com o tamanho da tela)*/
    background-position: 35vw bottom;/*jogando a img para baixo*/
}


#page-home .conteudo {
    width: 90%;/*tamanho de 90% da pagina, ou seja, ele ajusta a pagina para 90% dinamicamente*/
    max-width: 1100px; /*tamanho maximo da pagina, pois quando chegar a 1100px ele vai para de arrumar a pagina em 90%*/
    
    margin: 0 auto;
}

#page-home header {

    margin-top: 15px;
    display: flex;
    align-items: center;/*alinha os itens*/
    justify-content: space-between; /*Da espaço entre os arquivos!*/
}

#page-home header a {
    display: flex;
    color:var(--cor-titulo);
    font-weight: 700;
    
}

#page-home header a span {
    margin-right: 16px;
    display: flex;
    
    background-image: url("../img/log-in.svg");
   
    width: 20px;   
    height: 20px;
}
