{% extends "layout.html" %}
{% set pageId = "page-create-point" %}

{% block title %}
    <title>Cadastro de coleta</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="css/create-point.css"/>
    <link rel="stylesheet" href="css/formulario.css"/>
{% endblock css %}

{#<div id="page-create-point">#}

{% block content%}
    {% include "parte/page-home-header.html" %}
    <form action="">
        <h1>Cadastro do ponto de coleta</h1>

        <!-- cria uma coleção de campos -->
        <fieldset>
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="Complete-Name">Nome Completo:</label>
                    <input type="text" name="name" required="required"/>
                    <!-- Required: é para deixar o campo como principal para preencher-->
                </div>
                <div class="field">
                    <label for="Complete-Name">imagem:</label>
                    <input type="url" name="image" required="required" placeholder="https://imagem.com.br"/>
                    <!-- Required: é para deixar o campo como principal para preencher-->
                </div>
            </div>
            {#  
            <div class="field">
                <label for="Complete-Name">Nome Completo:</label>
                <input type="text" name="name" required="required"/>
                 Required: é para deixar o campo como principal para preencher
            </div>
            #}

            <div id="end_comp" class="field-group">
                <div class="field">
                    <label for="address">Endereço:</label>
                    <input type="text" name="address" placeholder="Ex: Rua carioca, 45" required="required"/>
                </div>

                <div class=" field">
                    <label for="address2">Complemento:</label>
                    <input type="text" name="address2" placeholder="Ex: casa" required="required"/>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado:</label>
                    <select name="UF" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>
                    <!-- esta campo serve para receber o nome do estado, em vez do numero -->
                    <input type="hidden" name="state"/>
                    <!-- esta campo serve para receber o nome do estado, em vez do numero -->

                </div>

                <div class="field">
                    <label for="city">Cidade:</label>
                    <select name="city" disabled="disabled" required="required">
                        <!-- Disabled: desabilita o campo -->
                        <option value="">Selecione a Cidade</option>
                    </select>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="itens-grid">
                <li data-id="01">
                    <img src="img/lampadas.svg" alt="Lâmpadas">
                    <span>Lâmpadas</span>
                </li>

                <li data-id="02">
                    <img src="img/baterias.svg" alt="Pilhas e Baterias">
                    <span>Pilhas e Baterias</span>
                </li>

                <li data-id="03">
                    <img src="img/papeis-papelao.svg" alt="Papeis e Papelão">
                    <span>Papéis e Papelão</span>
                </li>

                <li data-id="04">
                    <img src="img/eletronicos.svg" alt="Eletrônicos">
                    <span>Resíduos Eletrônicos</span>
                </li>

                <li data-id="05">
                    <img src="img/organicos.svg" alt="Orgânicos">
                    <span>Resíduos Orgânicos</span>
                </li>

                <li data-id="06">
                    <img src="img/oleo.svg" alt="Óleo de cozinha">
                    <span>Óleo de cozinha</span>
                </li>
            </div>

            <!-- Esse input vai guardar a item q foi selecionado -->
            <input type="hidden" name="items">
            <!-- Esse input vai guardar a item q foi selecionado -->
        </fieldset>
        <!-- cria uma coleção de campos -->

        <button type="submit">Cadastrar ponto de coleta</button>
    </form>
{% endblock content%}

{#</div>#}

{% block js %}
    <script src="js/create-point.js"></script>

{% endblock js %}